@{
    ViewData["Title"] = "Home Page";
}

    <div class="fondo d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <main class="form-signin">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>
                <label for="inputUser" class="visually-hidden">Usuario</label>
                <input type="text" name="usr" class="form-control" placeholder="Usuario" required autofocus="">
                <label for="inputPassword" class="visually-hidden">Password</label>
                <input type="password" name="pass" class="form-control" placeholder="Password" required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Recorderme
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Acceder</button>
            }
            </main>
    </div>
